* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fdfdf1;
}

/* HEADER */

header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-family: "Corinthia";
}

header .title {
  height: 100%;
  width: 15vh;
}

header .title img {
  width: 100%;
}

header .title h1 {
  display: none;
}

header nav {
  display: flex;
  gap: 75px;
}

header nav .link {
  position: relative;
  font-size: 50px;
  display: flex;
  text-decoration: none;
  transition: .5s ease-in-out;
  color: #768d45;
  font-weight: bold;
  background-color: transparent;
}

header nav .link::after,
header nav .active-link::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: -100%;
  bottom: 0;
}

header nav .link:hover::after,
header nav .active-link::after {
  left: 0;
  background: #768d45;
  transition: .2s ease-in-out;
}

header .hamburger-menu {
  display: none;
  font-size: 2rem;
}

/* SECTIONS */

section {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap {
  width: 700px;
  max-width: 80%;
  min-height: 85vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* INICIO */

.inicio {
  text-align: center;
}

.inicio img {
  width: 100%;
}

/* CARTA */

.carta .wrap {
  border: 2px solid red;
}

/* CONTACTO */

.contacto .wrap {
  height: 85vh;
  gap: 40px;
}

.contacto .wrap img {
  width: 60%;
  border-radius: 20px;
}

.contacto .wrap .bio {
  width: 60%;
  text-align: center;
}

.contacto .wrap .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 20px;
}

.contacto .wrap .socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 10px;
  color: #000;
  text-decoration: none;
}

.contacto .wrap .socials a .whatsapp {
  color: #25d366;
}

.contacto .wrap .socials a .instagram {
  color: #d62976;
}

/* RESPONSIVE */

@media screen and (max-width: 1300px) {
  header .hamburger-menu {
    display: block;
  }

  .links {
    display: flex;
    width: 100%;
    position: absolute;
    top: 15vh;
    left: 0;
    background-color: #768d45;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    transition: .2s ease-in-out;
    z-index: 100;
  }

  .links .link {
    color: #fdfdf1;
  }

  .links.invisible {
    top: -100%;
  }
}